li {
    height: 66px;
    font-size: 24px;
}

.btn-primary {
    margin-left: 8px;
}

.container {
    margin-top: 25px;
}

.btn-add,
.btn-go-back,
.btn-success {
    margin-bottom: 12px;
    margin-top: 12px;
    margin-left: 0;
}
